@font-face {
font-family: 'Futura';
src: url('../fonts/Futura.ttc') format('opentype');
font-weight: 400;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Futura';
src: url('../fonts/Futura.ttc') format('opentype');
font-weight: 400;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Helvetica';
src: url('../fonts/Helvetica.ttc') format('truetype');
font-weight: 300;
font-style: regular;
font-display: swap;
}


#bodyy {
    background-image: url('/images/bearmopnftbackground.jpg');
    background-position: 0px 0px;
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
}

.Helvetica {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}
.Futura {
    font-family: Futura, sans-serif;
}
  
.Futura {
    font-family: Futura, sans-serif;
}

.text-blau {
    color: #13c5eb;
}

.bg-blau {
    background-color: #13c5eb;
}